/* background color */

.bg-primary {
  background: var(--primary-color);
}

.bg-white {
  background: var(--white);
}

/* color */

.color-primary {
  color: var(--primary-color);
}

.color-white {
  color: var(--white);
}

.color-pending {
  color: var(--pending-color);
}

.color-reject {
  color: var(--reject-color);
}